<div class="page">
    <header class="header">
        <button class="button">
            <img src="/svg/header__back.svg" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/header__avatar.png" width="24px" height="24px">
        </button>
    </header>

    <h1 class="title">Коммьюніті</h1>

    <main class="content">

        <div class="tabs">
            <div class="tab">База знань</div>
            <div class="tab active">Інформація</div>
        </div>

        <div class="card">
            <img src="/img/card.png" alt="Card">
        </div>

        <div class="post">
            <h2 class="post__title">Що таке база знань?</h2>

            <p class="post__text">
                База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в
                некоторой предметной области. В самообучающихся системах база знаний также содержит информацию,
                являющуюся результатом решения предыдущих задач.
            </p>
        </div>

        <a href="#" class="link">Перейти до ком'юніті у Телеграм</a>

    </main>
</div>